ProjetoCalculadoraFatorial/CalculaFatorialService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://control/" xmlns:tns="http://control/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="fatorial" type="tns:fatorial"/>

  <xs:element name="fatorialResponse" type="tns:fatorialResponse"/>

  <xs:complexType name="fatorial">
    <xs:sequence>
      <xs:element name="num" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fatorialResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

